Demo.App.Client/Service References/EventService/EventService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="UpdateClaim">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateClaimResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateClaimResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UpdateClaimSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateClaim" />
  </wsdl:message>
  <wsdl:message name="UpdateClaimSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateClaimResponse" />
  </wsdl:message>
  <wsdl:portType name="EventServiceSoap">
    <wsdl:operation name="UpdateClaim">
      <wsdl:input message="tns:UpdateClaimSoapIn" />
      <wsdl:output message="tns:UpdateClaimSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EventServiceSoap" type="tns:EventServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateClaim">
      <soap:operation soapAction="http://tempuri.org/UpdateClaim" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EventServiceSoap12" type="tns:EventServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateClaim">
      <soap12:operation soapAction="http://tempuri.org/UpdateClaim" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EventService">
    <wsdl:port name="EventServiceSoap" binding="tns:EventServiceSoap">
      <soap:address location="http://localhost:8080/EventService.asmx" />
    </wsdl:port>
    <wsdl:port name="EventServiceSoap12" binding="tns:EventServiceSoap12">
      <soap12:address location="http://localhost:8080/EventService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>